@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?ubrhcs');
  src:  url('icomoon.eot?ubrhcs#iefix') format('embedded-opentype'),
    url('icomoon.ttf?ubrhcs') format('truetype'),
    url('icomoon.woff?ubrhcs') format('woff'),
    url('icomoon.svg?ubrhcs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e903";
}
.icon-file_download:before {
  content: "\e900";
}
.icon-navigate_next:before {
  content: "\e901";
}
