* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.generatedImage {
  width: 550px;
}

form {
  width: 550px;
  margin: auto;
  padding: 50px 0;

  input {
    width: 100%;
  }
}