@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?a0nx97');
  src:  url('icomoon.eot?a0nx97#iefix') format('embedded-opentype'),
    url('icomoon.ttf?a0nx97') format('truetype'),
    url('icomoon.woff?a0nx97') format('woff'),
    url('icomoon.svg?a0nx97#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-file_download:before {
  content: "\e900";
}
.icon-navigate_next:before {
  content: "\e901";
}
